* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
}

.navbar-div {
    background-color: rgb(32, 66, 93);
    height: 100vw;
    width: 175px;
    margin: 0;
    padding: 0;
    border-right: 3px black solid;
}

#nav-list {
    margin-left: 0px;
    padding-left: 0;
}

nav > header {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(237, 202, 89);
}

.nav-link {
    width: 172px;
    height: 43px;
    position: absolute;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    color:rgb(232, 232, 232)
}

.nav-link:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.navigation {
    border-top: 2px black solid;
    height: 45px;
}

.navigation:last-of-type {
    border-bottom: 2px solid black;
}

