@media (max-width: 450px) {
    .navbar-div {
        height: 200px !important;
        width: 100% !important;
        position: absolute;
        border-right: none !important;
        border-bottom: 3px black solid !important;
    }

    #nav-list {
        width: 100% !important;
        height: 135px !important;
        position: relative !important;
        overflow: scroll !important;
    }

    .navigation {
        width: 100% !important;
    }
    
    .nav-link {
        width: 100% !important;
    }
    
    #last {
        border-bottom: none !important;
    }

    main {
        margin: 0 !important;
        margin-top: 195px !important;
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(230, 232, 234);
}

.navbar-div {
    background-color: rgb(32, 66, 93);
    height: 100%;
    width: 175px;
    margin: 0;
    padding: 0;
    border-right: 3px black solid;
    position: fixed;
    top: 0;
    left: 0;
}

#nav-list {
    margin-left: 0px;
    padding-left: 0;
}

nav > header {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(237, 202, 89);
}

.nav-link {
    width: 172px;
    height: 45px;
    position: absolute;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    color:rgb(232, 232, 232);
    border-top: 2px black solid;
}

#last {
    border-bottom: 2px black solid;
}

.nav-link:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.navigation {
    height: 45px;
}


main {
    margin-left: 175px;
    height: 1200px;
    padding: 20px;
}

